html,
body {
    height: 648px;
    background-image: url('../imagenes/purple_fondo_.png')
}

.contenedor2 {
    margin-top: 8px;
    margin-left: -8px;
}

.cuadro1 {
    float: left;
    width: 270px;
    height: 213px;
    margin: 37px;
    margin-left: 256px;
    margin-top: 102px;
    background-color: #ffffff73;
    box-shadow: 5px 7px 16px #999;
}

.cuadro2 {
    float: left;
    width: 270px;
    height: 213px;
    margin: 37px;
    margin-left: 256px;
    margin-top: 102px;
    background-color: #ffffff73;
    box-shadow: 5px 7px 16px #999;
}

.boton1 {
    color: #5f068dee;
    font-weight: 560;
    border: 1.5px solid #5f068dee;
    border-radius: 6px;
    float: right;
    width: 274px;
    height: 44px;
    padding: 10px 0px;
    position: relative;
    top: -26px;
    left: 2px;
    font-size: 20px;
    line-height: 20px;
    background: linear-gradient(181deg, #b174e1bf, #ffb0f2);
    box-shadow: 5px 7px 16px #999;
    cursor: pointer
}

.boton1:hover {
    color: white;
    border: 2px solid #FFF;
}

.proyecto {
    margin-left: -99px;
    width: 478px;
    margin-top: -30px;
}

.boton2 {
    color: #5f068dee;
    font-weight: 560;
    border: 1.5px solid #5f068dee;
    border-radius: 6px;
    float: right;
    width: 274px;
    height: 44px;
    padding: 10px 0px;
    position: relative;
    top: 10px;
    left: 2px;
    font-size: 20px;
    line-height: 20px;
    background: linear-gradient(179deg, #b691ca, #dfb6b4);
    box-shadow: 5px 7px 16px #999;
    cursor: pointer
}

.boton2:hover {
    color: white;
    border: 2px solid #FFF;
}

.asesoria {
    margin-left: 43px;
    width: 183px;
    height: 193px;
    margin-top: 10px;
}

.salida {
    width: 61px;
    float: right;
    margin-top: 14px;
    margin-right: 20px;
    cursor: pointer;
}

.chat {
    width: 53px;
    float: left;
    margin-top: 16px;
    margin-left: -80px;
    cursor: pointer;
}

.notificacion {
    width: 48px;
    float: left;
    margin-top: 100px;
    margin-left: -80px;
    cursor: pointer;
}

.atras {
    height: 50px;
    margin-top: 32px;
}